# IRIS MODEL BUILDING

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pickle

In [4]:
data = pd.read_csv('iris1.csv')

In [5]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
print(data.isnull().sum(axis = 0))
print(data.isnull().sum(axis = 1))

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
145    0
146    0
147    0
148    0
149    0
Length: 150, dtype: int64

In [9]:
sns.heatmap(data.isnull(),yticklabels=False,cbar=False,cmap='viridis')
data['sepal length in cm'].plot()
data['sepal width in cm'].plot()
sns.countplot(data['target'],data=data)
sns.scatterplot(data['sepal length in cm'],data['sepal width in cm'],hue=iris_data['target'])
sns.scatterplot(data['petal length in cm'],data['petal width in cm'],hue=iris_data['target'])

NameError: name 'iris_data' is not defined